
.my-controller {
  border: 1px solid #f4f4f4;
  padding: 0;
  margin: 0;
  .results{
    min-height: 100vh;
    div.result{
      vertical-align: top;
      min-height: 500px;
    }
    ul, li{
      padding: 0;
      list-style-type: none;
    }
    img {
      width:auto;
      max-height: 200px;
    }
    .img-container {
      height: 200px;
    }
  }
}
.header{
  background: black;
  padding:40px 20px;
  .form-control{
    display:inline;
  }
  .input-group-addon{
    cursor: pointer;
  }
  button#dropdownMenu1 {
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
  }
}

footer{
  height: 200px;
  background: #4e7dff;
}


.result.ng-enter {
  /* standard transition code */
  transition: 1s linear all;
  opacity:0;
}
.result.ng-enter-stagger {
  /* this will have a 100ms delay between each successive leave animation */
  transition-delay: 0.1s;

  /* As of 1.4.4, this must always be set: it signals ngAnimate
    to not accidentally inherit a delay property from another CSS class */
  transition-duration: 0s;
}
.result.ng-enter.ng-enter-active {
  /* standard transition styles */
  opacity:1;
}